blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
cryptography==43.0.3
Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-CORS==5.0.0
gunicorn==23.0.0
Authlib==1.6.5
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pluggy==1.6.0
PyMySQL==1.1.2
python-binary-memcached==0.31.2
python-dotenv==1.2.1
requests==2.32.5
setuptools==80.9.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.4
wheel==0.45.1
icalendar==6.3.2
openai==1.55.3
reportlab
